       $darkMainColorGrey: #3D4555;
       $GreenMainColor: #96C22B;
       $WhiteColor: #fff;
       $widthSite: 1800px;
       $paddingLeftForContent: 270px;

       body {
           font-family: 'Montserrat', sans-serif;
           padding-left: $paddingLeftForContent;
       }

       a {
           text-decoration: none;
       }

       .center {
           padding-left: calc(50% - $widthSite / 2);
           padding-right: calc(50% - $widthSite / 2);
       }

       .sidebar {
           position: fixed;
           left: 0;
           top: 0;
           width: 220px;
           height: 100%;
        //    background-color: $GreenMainColor;
           padding: 20px;
           box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
           z-index: 1000;
           
       }

       .sidebar ul {
           list-style-type: none;
           padding: 0;
           margin: 0;
           
       }

       .sidebar li {
           margin: 10px 0;
           
       }

       .sidebar a {
           text-decoration: none;
           color: $darkMainColorGrey;
           display: block;
           padding: 5px;
           
       }

       .sidebar a:hover {
           color: $GreenMainColor;
           background-color: #ffffff;
           border-radius: 4px;
       }

       .sidebar a:active {
           color: $GreenMainColor;
           background-color: #ffffff;
           border-radius: 4px;
       }

       .content {
           padding: 5px;
       }

       h1 {
        font-size: 22px;
        color: $darkMainColorGrey;
        text-transform: uppercase;
        padding-bottom: 20px;
       }





       .filter-block {
            margin-top: 20px;
            padding: 10px;
            border-top: 1px solid #ddd;
        }
        .filter-block h3 {
            font-size: 14px;
            color: #3D4555;
            margin-bottom: 10px;
        }
        .range-slider {
            position: relative;
            width: 100%;
            height: 40px;
            margin: 10px 0;
        }
        .range-slider input[type="range"] {
            position: absolute;
            width: 100%;
            height: 40px;
            pointer-events: none;
            // -webkit-appearance: none;
            background: transparent;
            z-index: 2;
        }
        .range-slider input[type="range"]::-webkit-slider-thumb {
            pointer-events: all;
            width: 10px;
            height: 10px;
            border-radius: 5%;
            background: #96C22B;
            cursor: pointer;
            -webkit-appearance: none;
            z-index: 3;
        }
        .range-slider input[type="range"]::-moz-range-thumb {
            pointer-events: all;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #96C22B;
            cursor: pointer;
        }
        .range-track {
            position: absolute;
            top: 18px;
            left: 0;
            width: 100%;
            height: 4px;
            background: #ddd;
            border-radius: 2px;
            z-index: 1;
        }
        .range-values {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
        }
        .range-values input[type="number"] {
            width: 60px;
            padding: 3px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        .range-values span {
            margin: 0 5px;
        }
        .product-tooltip {
            position: absolute;
            top: 5px;
            right: 5px;
            background: rgba(0, 0, 0, 0.03);
            color: rgb(105, 104, 104);
            padding: 3px 6px;
            border-radius: 3px;
            font-size: 10px;
            z-index: 10;
            text-align: right;
            line-height: 1;
            // width: 37px;
            // height: 37px;
        }
        .product-card {
            position: relative;
        }