       $darkMainColorGrey: #3D4555;
       $GreenMainColor: #96C22B;
       $GreyColor: #5B5B5B;


       @font-face {
           font-family: 'Montserrat';
           src: url('Montserrat-Regular.ttf') format('truetype');
           font-weight: normal;
       }

       @font-face {
           font-family: 'Montserrat';
           src: url('Montserrat-Bold.ttf') format('truetype');
           font-weight: bold;
       }

       body {
           font-family: 'Montserrat', sans-serif;
           margin: 0;
           padding: 0;
           background-color: #f5f5f5;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
       }

       .frame {
           width: 800px;
           height: 800px;
           margin: 20px auto;
           background-color: white;
           position: relative;
           overflow: hidden;
           box-sizing: border-box;
           border: 1px solid #ccc;
           display: flex;
           align-items: center;
           justify-content: center;
       }

       .download-btn {
           position: fixed;
           top: 20px;
           right: 25px;
           padding: 10px 20px;
           background-color: $darkMainColorGrey;
           color: white;
           text-decoration: none;
           border-radius: 5px;
           z-index: 1000;
       }

       .front {

           .textcover {
               position: absolute;
               // top: 185px;
               max-width: 80%;
           }

           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           position: relative;

           .title {
               position: relative;
               line-height: 1;
               font-size: 48px;
               font-weight: bold;
               color: $darkMainColorGrey;
               text-align: center;
               text-transform: uppercase;
           }

           .subtitle {
               font-size: 20px;
               color: $darkMainColorGrey;
               font-weight: bold;
               text-transform: uppercase;
           }

           .chair-word {
               font-size: 29px;
               /* Размер для "КРЕСЛО" */
               line-height: 10px;
               text-transform: uppercase;
           }



           .line-container {
               position: relative;
               display: flex;
               flex-direction: column;
               align-items: center;
           }

           .line {
               width: 180px;
               height: 2px;
               margin-bottom: 15px;
               margin-top: 15px;
               background-color: $darkMainColorGrey;
           }

           .cover {
               position: absolute;
               width: 100%;
               height: 100%;
               background: url('../img/cover.png');
               background-size: cover;
               background-position: center;
               /* z-index: -1; */
           }

           .logo {
               position: absolute;
               top: 55px;
               margin: auto;
           }

           .logo img {
               width: 180px;
               /* Ширина изображения */
               height: auto;
               /* Автоматическая высота */
           }
       }

       .caps_first {
           text-transform: capitalize;
       }

       .info {

           .technical {
               position: absolute;
               width: 68%;
               top: 50px;
               color: $darkMainColorGrey;
               left: 50px;
           }

           .description {
               position: absolute;
               right: 50px;
               top: 190px;
               font-size: 16px;
               max-width: 625px;
               color: $darkMainColorGrey;
               line-height: 1.19;
               //    hyphens: auto;
           }

       }

       .green_square {
           position: relative;
           top: 22px;
           left: -30px;
           fill: $GreenMainColor;

       }

       .materials {
           .description_materials {
               position: absolute;
               top: 50px;
               right: 50px;
               font-size: 16px;
               max-width: 625px;
               color: $darkMainColorGrey;
               text-align: left;
               line-height: 1;

               //    hyphens: auto;
           }

           .green_square_materials {
               position: relative;
               top: 18px;
               left: -30px;
               fill: $GreenMainColor;
           }

           // #constructionAndMaterials {
           //     max-height: 619px;
           //     max-width: 619px;
           //     font-family: 'Montserrat', sans-serif;
           //     color: #3D4555;
           //     line-height: 1.19;
           //     font-size: 16px;
           //     /* Уберите overflow: hidden; */
           //     white-space: -carde-line;
           // }



           .construction-list {
               line-height: 1.19;
           }

           .construction-list strong {
               font-weight: bold;
           }

       }

       .image_dimensions {
           .image_name {
               position: absolute;
               top: 30px;
               left: 50px;
               color: $darkMainColorGrey;
               font-size: 20px;
               text-transform: uppercase;
               font-weight: bold;
           }

           .image {
               position: absolute;
               top: 60px;
               left: 30px;
               max-width: 41%;
           }

           .dimensionsImage {
               height: 360px;
               left: 16%;
               bottom: 15px;
               position: absolute;

               //    left: 50%;
               //    transform: translate(-50%, -50%);

           }

           .box-info {
               position: absolute;
               display: flex;
               gap: 20px;
               top: 43%;
               right: 50px;
               margin: 10px 0;
               font-size: 15, 1px;
               font-weight: bold;
               align-items: center;
               color: $darkMainColorGrey;
           }

           .box-info-row {
               position: absolute;
               right: 50px;
               display: flex;
               align-items: center;
               gap: 10px;
               font-size: 15px;
               font-weight: bold;
               color: $darkMainColorGrey;
           }

           .box-info-item {
               display: flex;
               align-items: center;
               gap: 5px;
           }

           .box-info-item img {
               width: 27px;
               height: 27px;
           }

           .box-info img {
               width: 27px;
               height: 27px;
               /* Сохраняем пропорции */
           }

           .box-info-line {
               width: 2px;
               height: 24px;
               background: $darkMainColorGrey;
               margin: 0 5px;

               /* отступы от иконки и текста */
           }

           .box-info-label {
               margin-left: 10px;
               font-size: 14px;
               font-weight: normal;
               white-space: nowrap;
           }

           /* Позиционирование новых блоков */
           #box-info-individual {
               top: 43%;
           }

           #box-info-box4 {
               top: 48%;
           }


           .side-view {
               max-width: 50%;
               height: auto;
               margin: 10px auto;
           }

           .box-image {
               width: 300px;
               height: auto;
               display: block;
           }

           .box-container {
               position: absolute;
               top: 70px;
               right: 50px;
               display: inline-block;
           }

           .box-dimension {
               position: absolute;
               font-size: 21px;
               font-weight: bold;
               color: $GreyColor;
               text-align: center;
           }

           .box-dimension.width {
               position: absolute;
               top: 180px;
               /* выше коробки */
               left: 200px;
               //    transform: translateX(-20%) translateY(10%) rotate(-32deg);
               /* центрирование + поворот на 45 градусов */
               white-space: nowrap;
           }


           .box-dimension.depth {
               position: absolute;
               top: 190px;
               /* выше коробки */
               left: 23px;
               //    transform: translateX(14%) rotate(38deg);
               /* центрирование + поворот на 45 градусов */
               white-space: nowrap;
           }

           .box-dimension.height {
               position: absolute;
               top: 70px;
               /* выше коробки */
               left: -10px;
               //    transform: translateX(9%) rotate(90deg);
               /* центрирование + поворот на 45 градусов */
               white-space: nowrap;
           }



       }

       .transportation_garantee {
           .transportation {
               position: absolute;
               top: 50px;
               right: 50px;
               font-size: 16px;
               max-width: 625px;
               color: $darkMainColorGrey;
               text-align: left;
           }

           .green_square_transportation {
               position: relative;
               top: 20px;
               left: -30px;
               fill: $GreenMainColor;
           }

           .green_square_guarantee {
               position: relative;
               top: 20px;
               left: -30px;
               fill: $GreenMainColor;
           }

           .dopinfo {
               position: absolute !important;

               max-width: 550px;
               bottom: 100px !important;

               right: 30px !important;

               padding: 15px;
               font-size: 16px;
               background-color: $GreenMainColor;
               border-radius: 10px;
               color: #fff;
           }

           .znak {
               position: absolute;
               left: 80px;
               bottom: 120px;
           }

           .znak img {
               width: 40px;
               height: 40px;
           }

       }

       .back_cover {
           .prim {
               position: absolute;
               width: 100%;
               height: 100%;
               background: url('../img/prim.png');
               background-size: cover;
               background-position: center;
               /* z-index: -1; */
           }
       }






       .specs {
           position: absolute;
           top: 190px;
           right: 50px;
           font-size: 16px;
           color: $darkMainColorGrey;
       }

       .specs table {
           border-collapse: collapse;
           width: 100%;
       }

       .specs th,
       .specs td {
           border: 1px solid #ddd;
           padding: 8px;
           text-align: left;
       }

       .specs th {
           background-color: #f2f2f2;
       }


       .slogan {
           position: absolute;
           bottom: 50px;
           left: 50px;
           font-size: 24px;
           font-weight: bold;
           color: $darkMainColorGrey;
       }